.tabs {
  -webkit-overflow-scrolling: touch;
  align-items: stretch;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;

  ul {
    align-items: center;
    border-bottom: 1px solid $border-color;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
  }

  li {
    display: block;

    &.is-active a {
      &,
      &:hover {
        border-bottom-color: $primary;
        color: $primary;
      }

      @each $name, $color in $colors {
        @at-root .is-#{$name}#{&} {
          &,
          &:hover {
            border-bottom-color: $color;
            color: $color;
          }
        }
      }
    }
  }

  a {
    align-items: center;
    border-bottom: 1px solid $border-color;
    color: $text-color;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin-bottom: -1px;
    padding: 0.5em 1em;
    vertical-align: top;

    &:hover {
      border-bottom-color: $border-color-hover-strong;
    }
  }

  // Alignment
  &.is-left ul {
    justify-content: flex-start;
  }

  &.is-centered ul {
    justify-content: center;
  }

  &.is-right ul {
    justify-content: flex-end;
  }

  // Sizes
  &.is-small {
    font-size: 0.75rem;
  }

  &.is-medium {
    font-size: 1.25rem;
  }

  &.is-large {
    font-size: 1.5rem;
  }

  // Variant
  &.is-boxed {
    a {
      border: 1px solid transparent;
      border-radius: 4px 4px 0 0;

      &:hover {
        background-color: $bg-hover;
        border-bottom-color: $border-color;
      }
    }

    li.is-active a {
      background-color: $bg;
      border-color: $border-color;
      border-bottom-color: transparent !important;
    }
  }

  &.is-toggle {
    ul {
      border-bottom: none;
    }

    li {
      &.is-active a {
        background-color: $primary;
        border-color: $primary;
        color: $primary-contrast;
        z-index: 1;

        @each $name, $color in $colors {
          @at-root .is-#{$name}#{&} {
            background-color: $color;
            border-color: $color;
            color: map-get($colors-contrast, $name);
          }
        }
      }

      &:first-child a {
        border-top-left-radius: $round-border;
        border-bottom-left-radius: $round-border;
      }

      &:last-child a {
        border-top-right-radius: $round-border;
        border-bottom-right-radius: $round-border;
      }
    }

    a {
      border-color: $border-color;
      border-style: solid;
      border-width: 1px;
      margin-bottom: 0;
      position: relative;

      &:hover {
        background-color: $bg-hover;
        border-color: $border-color-hover;
        z-index: 2;
      }
    }

    &.is-toggle-rounded {
      li:first-child a {
        border-bottom-left-radius: 9999px;
        border-top-left-radius: 9999px;
        padding-left: 1.25em;
      }

      li:last-child a {
        border-bottom-right-radius: 9999px;
        border-top-right-radius: 9999px;
        padding-right: 1.25em;
      }
    }
  }

  &.is-full li {
    flex-grow: 1;
    flex-shrink: 0;
  }

  .icon:first-child {
    margin-right: 0.5em;
  }
}
