:root {
  --primary: #485fc7;
  --primary-contrast: #fff;
  --secondary: #6c757d;
  --secondary-contrast: #fff;
  --error: #ff3860;
  --error-contrast: #fff;
  --success: #23d160;
  --success-contrast: #fff;
  --warning: #ffdd57;
  --warning-contrast: #fff;
  --info: #209cee;
  --info-contrast: #fff;
  --bg: #fff;
  --bg-hover: #f5f5f5;
  --border-color: #dbdbdb;
  --border-color-hover: #b5b5b5;
  --border-color-hover-strong: #363636;
  --text-color: #4a4a4a;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  width: 100%;
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App {
  padding: 32px;
  display: grid;
  gap: 32px;

  // border: 8px solid var(--primary);
  border-radius: 8px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 0.5rem 1rem var(--primary), inset 0 -1px 0 var(--primary);
}

label {
  display: block;
}

.select,
.select select {
  width: 100%;
}
